<div class="jumbotron">
    <h2 class="text-center">WebApi - Sistema de Gestão de Talentos</h2>
    <h3 class="text-center"> Clique em @Html.ActionLink("Swagger", "ui/index", "swagger", new { area = "" }, null) para ver todos os endpoints da aplicação</h3>
</div>
